
backend/climate-change-backend/climate-change-backend/data/v1/2,000-Year Northern Hemisphere Temperature Reconstruction/2000_Year_Northern_Hemisphere_Temperature_Reconstruction.xlsx
backend/climate-change-backend/climate-change-backend/data/v1/2,000-Year Northern Hemisphere Temperature Reconstruction/2000_Year_Northern_Hemisphere_Temperature_Reconstruction.xlsx
