/* V5.css */

.sectors-container {
    margin-bottom: 20px;
  }
  
  .doughnut-container {
    margin-top: 50px;
  }
  
  .subsectors-container {
    margin-top: 50px;
  }
  
  .sectors-container button {
    margin-right: 10px;
  }
  