/* V5.css */
.V5 {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    }
    
    .chart-container {
    margin-top: 50px;
    }
    
    .dropdown {
    margin-bottom: 20px;
    }